# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Others
*.db
*.sqlite
*.bak
*.tmp
